@import "tailwindcss";

@theme {
  --layer1: var(--tg-theme-bg-color);
  --layer2: 21 30 39; /* #151e27 */
  --layer3: 29 41 53; /* #1d2935 */
  --layer4: 35 49 63; /* #243242 */
  --layer5: 43 60 77; /* #2b3c4d */
  --layer6: 53 73 94; /* #35495e */
  --layer5_table: 37 51 65; /* #253341 */
  --input: 36 50 66; /* #243242 */
  --input_darken: 18 26 33; /* #121a21 */
  --input_bright: 27 38 50; /* #1b2632 */
  --tab_selected: 45 64 82; /* #2d4052 */
  --brand: 0 230 172; /* #00e6ac */
  --brand-dark: 0 179 134; /* #00b386 */
  --brand_alt: 51 255 204; /* #33ffcc */
  --brand_secondary: 0 153 115; /* #009975 */
  --warning: 255 128 170; /* #ff9810 option: 255 152 32 */
  --warning_light: 255, 179, 204; /* #ff97cc */

  --color-layer1: var(--layer1);
  --color-layer2: rgb(var(--layer2));
  --color-layer3: rgb(var(--layer3));
  --color-layer4: rgb(var(--layer4));
  --color-layer5: rgb(var(--layer5));
  --color-layer6: rgb(var(--layer6));
  --color-layerx: rgb(var(--layer4));
  --color-layer5-table: rgb(var(--layer5_table));
  
  --color-input: rgb(var(--input));
  --color-input_button: rgb(var(--input));
  --color-input_darken: rgb(var(--input_darken));
  --color-input_bright: rgb(var(--input_bright));
  
  --color-white_alpha5: #ffffff0d;
  --color-white_alpha10: #ffffff1a;
  --color-white_alpha20: #ffffff33;
  --color-black_alpha5: #0000000d;
  --color-black_alpha10: #0000001a;
  --color-black_alpha20: #00000033;

  --color-brand: rgb(var(--brand));
  --color-brand_alt: rgb(var(--brand_alt));
  --color-brand_secondary: rgb(var(--brand_secondary));
  --color-success: rgb(var(--brand));
  --color-super: rgb(215, 237, 71);
  --color-error: rgb(252 60 60);
  --color-warning: rgb(var(--warning));
  --color-warning_light: rgb(var(--warning_light));
  --color-primary: rgb(255 255 255);
  --color-primary_brand: rgb(0 0 0);
  --color-secondary: rgb(179 190 193);
  --color-tertiary: rgb(132 145 148);
  --color-quarterary: rgb(161 175 178);
  --color-alw_white: rgb(255 255 255);
  --color-alw_dark: rgb(23 26 26);
  --color-tab_selected: rgb(var(--tab_selected));

  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
  --color-popover: #09090b;
  --color-popover-foreground: #fafafa;
  --color-card: #09090b;
  --color-card-foreground: #fafafa;
  --color-secondary-foreground: #fafafa;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;
  --color-warning_brighter: #ffad4d;
  --color-border: #e4eaf0;
  
  --color-tab_padding: rgb(39 43 44);
  --color-tab_nopadding: rgb(39 43 44);
  --color-main: #e4eaf0cc;
  --color-second: #e4eaf04c;
  --color-third: #e4eaf019;
  --color-site_bg: #232626;
  --color-toast-bg: rgba(17, 17, 17, .7);
  --color-Pagination-bg: rgb(41, 45, 46);
  --color-Pagination-currentPage: rgb(58, 65, 66);
  --color-Button-BrightBg: #464f50;

  --color-Chip-Group-Tab: #3a4142;
  --color-Chip-Group-Button: #464f50;
  --color-Button-DarkenBg: #243342;
  --color-Button-spbg: #464f50;
  --color-crash-trenball-btn: #464f50;

  --spacing-header: 3rem;
  --spacing-safe-top: 0rem;
  --spacing-safe-header: calc(var(--spacing-header) + var(--spacing-safe-top));
  --spacing-safe-bottom: 0rem;
  --radius-md: 0.375rem;
  --border-radius-lg: .5rem;

  --scroll: 100%;

  --kb-popper-content-overflow-padding: 8px;
  --kb-popper-anchor-width: 15px;
  --kb-popper-content-available-width: 396px;
  --kb-popper-content-available-height: 452px;
  --kb-popper-content-transform-origin: top center;
  --kb-popover-content-transform-origin: var(--kb-popper-content-transform-origin);

  --tabs-width: 142px;
  --tabs-indicator-position: 0%;
}

@layer base {
  body {
    @apply bg-layer2 p-0 m-0 text-white;
  }

  *,
  *:before,
  *:after {
    @apply box-border border-0 border-solid border-current;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply block align-middle;
  }

  button {
    @apply bg-transparent appearance-none;
  }

  button:disabled {
    @apply opacity-[.4] cursor-not-allowed;
  }

  button,
  a {
    @apply touch-manipulation;
  }

  button,
  [role="button"] {
    @apply cursor-pointer;
  }

  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @apply bg-transparent;
    appearance: none;
    -webkit-appearance: button;
    -moz-appearance: button;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide arrows in Firefox */
  input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
  }

  button,
  select {
    @apply capitalize;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .input {
    @apply h-12 flex items-center rounded-lg border 
           pl-3 pr-2 gap-2 
           transition-all duration-350 ease-out 
           text-primary bg-input_bright border-input
           caret-[rgb(var(--brand))];
  }

  .input:focus-within {
      border-color: rgb(var(--brand));
  }

  .input > input {
    @apply bg-transparent outline-none flex-1 w-32;
  }

  .icon {
    @apply w-8 h-8 fill-current;
  }

  .button {
    @apply flex items-center justify-center h-12 px-2 cursor-pointer rounded-md select-none;
  }

  .button-brand {
    @apply text-primary_brand font-extrabold bg-linear-to-r from-brand to-brand_alt shadow-[0_0_12px_rgba(35,238,136,0.3),0_-2px_#1dca6a_inset];
  }

  .button-brand-red {
    @apply text-primary_brand font-extrabold bg-linear-to-r from-warning to-warning_light shadow-[0_0_12px_rgba(255,0,0,0.3),0_-2px_#f53535_inset];
  }

  .button-input {
    @apply text-primary font-extrabold bg-input_button;
  }

  .button-second {
    @apply text-primary font-extrabold bg-layer5 bg-linear-to-b from-black_alpha5 to-black_alpha5;
  }

  .button-m {
    @apply h-10 rounded-lg;
  }

  .size-full {
    @apply w-full h-full;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .ellipsis {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
  }

  .waiting {
    @apply mt-2.5 w-62.5 bg-[#8a8a8a] rounded-lg;

    @media (max-width: 560px) {
      @apply w-50;
    }

    div {
      @apply bg-brand h-full rounded-lg text-white py-0.5;

      @media (max-width: 560px) {
        @apply py-0.5; /* Redundant but included per original */
      }
    }

    .width-transition {
      transition: width 0.3s ease-in-out;
    }
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none;    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .pop-overlayer {
    @apply fixed inset-0 touch-pan-x z-1100 overflow-hidden flex invisible items-center justify-center;
  }

  .pop-bottomsheet {
    @apply fixed bottom-0 left-0 right-0 w-full rounded-t-3xl;
  }

  .pop-bottomsheet,
  .pop-center {
    @apply absolute opacity-100 flex flex-col max-h-[80%] pt-14;
  }

  .pop-title {
    @apply absolute top-0 w-full flex justify-center items-center font-extrabold h-14 text-base flex-none text-primary;
  }

  .pop-close {
    @apply absolute right-4 top-3 rounded-md w-8 h-8 bg-Button-BrightBg;
  }

  .pop-close > svg {
    @apply w-5 h-5;
  }

  .pop-content {
    @apply px-4 pb-[calc(1rem+var(--spacing-safe-bottom))];
  }

  .pop-content .scroll-container {
    @apply min-h-auto!;
  }

  .text-brand {
    @apply text-[rgb(var(--color-brand)/1)];
  }

  .text-warning {
    @apply text-[rgb(var(--color-warning)/1)];
  }

  .text-base {
    @apply text-base leading-6;
  }

  .dialog-root {
    @apply fixed left-0 top-0 w-full h-screen z-1000 justify-center items-center;
  }

  .dialog-visible {
    @apply flex;
  }

  .dialog-list {
    @apply w-full h-full overflow-hidden transition-[width,height] duration-300 relative opacity-100;
  }

  .dialog-overlayer {
    @apply overflow-hidden left-0 top-0 absolute w-full h-full z-1000 touch-pan-x bg-layer2;
  }

  :not(.pc).dialog-overlayer {
    @apply w-full h-full;
  }

  .dialog-item {
    @apply absolute left-0 top-0 z-0 w-full h-full flex flex-col pt-safe-header;
  }

  .dialog-title {
    @apply box-content h-header bg-layerx border-t-0 border-solid border-t-transparent leading-8 flex-none flex z-100 justify-center items-center text-base font-extrabold absolute inset-x-0 top-0 transition-colors duration-100 ease-linear;
  }

  .dialog-close, .dialog-back {
    @apply rounded-md w-8 h-8 bg-Button-BrightBg text-secondary z-11;
  }

  .dialog-back {
    @apply right-auto left-4 absolute bottom-2;
  }

  .dialog-content {
    @apply flex-1 px-4 bg-layer2;
  }

  .dialog-transparent-title .dialog-content {
    @apply -mt-safe-header pl-0 pr-0;
  }

  .scroll-x {
    @apply overflow-y-hidden overflow-x-auto overscroll-contain;
  }

  .scroll-y {
    @apply overflow-y-auto overflow-x-hidden overscroll-contain;
    -webkit-overflow-scrolling: touch;
  }
  
  .betslip .pop-content,
  .scroll-container {
    @apply flex-1 basis-0 grow shrink my-auto;
  }
  
  .dialog-content > .scroll-container {
    padding-bottom: calc(var(--spacing-safe-bottom) + 1rem);
  }

  .scroll-container {
    @apply flex flex-col;
    min-height: calc(100% + 1px);
  }

  .tabs-title {
    @apply flex flex-none h-10 relative rounded-lg text-secondary;
  }

  .tabs-title:not([data-type]) {
    @apply bg-[rgb(var(--color-tab_nopadding)/1)];
  }

  .latest-tabs {
    @apply h-12 mt-3.5 float-none;
  }

  .hide-scroll {
    @apply [scrollbar-width:none];
  }

  .tabs-title:not([data-type]) .tabs-btn {
    @apply rounded-lg;
  }

  .latest-tabs > .tabs-btn {
    @apply min-w-25 flex-auto px-3 py-1.5;
  }

  .tabs-btn[aria-selected="true"] {
    @apply bg-tab_selected text-primary font-extrabold;
  }

  .btn-like {
    @apply select-none touch-manipulation;
  }

  .tabs-btn {
    @apply rounded-lg flex-1 self-stretch whitespace-nowrap px-2;
  }

  .tabs-content {
    @apply bg-layer4 rounded-lg mt-2 flex flex-col;
  }

  .select-item[aria-selected="true"] {
    @apply bg-layer4;
  }

  .select-item {
    @apply w-full rounded-lg px-2 py-0 pl-3;
  }

  .select-item.radio:before {
    @apply order-last ml-auto mr-0;
  }

  .radio, .checkbox {
    @apply flex h-11 flex-none items-center;
  }

  .radio[aria-selected="true"]:before {
    @apply border-[6px] border-brand;
  }

  .radio:before {
    @apply block flex-none w-6 h-6 mr-2 rounded-full border-2 border-third transition-all duration-150 content-[""];
  }
}

.sky {
  /* background-color: black; */
  perspective: 400px;
  /* margin-top: 10px; */
  filter: drop-shadow(0 75px 10px #00000040);
}

.sky div {
  transform-style: preserve-3d;
}

.bird {
  position: absolute;
  top: 48%;
  left: 45%;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: flyingAnim 4s linear infinite;
}

@keyframes flyingAnim {
  0% {
    transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg) translateY(0);
  }
  50% {
    transform: rotateX(-120deg) rotateZ(180deg) rotateX(10deg) translateY(0);
  }
  100% {
    transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg) translateY(0);
  }
}

.bird-body {
  position: relative;
  height: 40px;
  width: 30px;
  background: rgb(var(--layer5));
  margin: auto;
}

.head {
  position: absolute;
  top: -30px;
  border-left: 15px solid transparent;
  border-bottom: 30px solid rgb(var(--layer6));
  border-right: 15px solid transparent;
  transform: rotateX(-20deg);
  transform-origin: 50% 100%;
}

.left-wing {
  position: absolute;
  left: -30px;
  height: 30px;
  border-bottom: 10px solid transparent;
  border-right: 30px solid rgb(var(--brand));
  transform-origin: 100% 0;
  animation: leftWingAnim 0.8s ease-in-out infinite alternate;
}

.left-top-wing {
  position: absolute;
  left: -30px;
  border-bottom: 30px solid transparent;
  border-right: 30px solid rgb(var(--brand_alt));
  transform-origin: 100% 0;
  animation: leftWingAnim 0.8s ease-in-out infinite alternate;
}

@keyframes leftWingAnim {
  0% {
    transform: rotateY(-40deg);
  }
  100% {
    transform: rotateY(40deg);
  }
}

.right-wing {
  position: absolute;
  left: 30px;
  height: 30px;
  border-bottom: 10px solid transparent;
  border-left: 30px solid rgb(var(--brand));
  transform-origin: 0 0;
  animation: rightWingAnim 0.8s ease-in-out infinite alternate;
}

.right-top-wing {
  position: absolute;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgb(var(--brand_alt));
  transform-origin: 0 0;
  animation: rightWingAnim 0.8s ease-in-out infinite alternate;
}

@keyframes rightWingAnim {
  0% {
    transform: rotateY(40deg);
  }
  100% {
    transform: rotateY(-40deg);
  }
}

.left-tail {
  position: absolute;
  top: 40px;
  transform: rotateX(-20deg);
  border-top: 40px solid rgb(var(--layer5));
  border-right: 30px solid transparent;
  transform-origin: 50% 0;
}

.right-tail {
  position: absolute;
  top: 40px;
  transform: rotateX(-20deg);
  border-top: 40px solid rgb(var(--layer6));
  border-left: 30px solid transparent;
  transform-origin: 50% 0;
}

@keyframes spin-fast {
  to {
    transform: rotate(360deg);
  }
}
.spin-fast {
  animation: spin-fast 0.5s linear infinite;
}
