PROJECT_NAME=crash
ENVIRONMENT=local

DOMAIN=
FRONT_BASE_URL=
BACK_BASE_URL=

SECRET_KEY=

# Telegram
TG_BOT_TOKEN=

# Websocket
SIO_MOUNTPOINT=/socket.io

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

SQLALCHEMY_ECHO=False

# Game
MAINTENANCE_MODE=False
HOUSE_EDGE=0.02 # 2%
PAYOUT_FACTOR=0.99
BETTING_PHASE_DURATION=10
